body {
  background-color: #E3D5CA;
}

.top-navbar-container {
  background-color: #EDEDE9;
}

.button {
  background-color: #D5BDAF;   
}




.card-img-top {
  height: 200px;
  width: 100%;
  object-fit: cover;

}



