body {
  background-color: #E3D5CA;
}

.top-navbar-container {
  background-color: #EDEDE9;
}

.form{
  border-radius: 15px;
}

.button {
  background-color: #D5BDAF;   
  color: #EDEDE9;
  border: 2px solid #D5BDAF;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.btn {
  background-color: #D5BDAF;   
  color: #EDEDE9;
  border: 2px solid #D5BDAF;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.btn:focus{
  outline: none;
  box-shadow: none;
}

.btn:hover {
  background-color: #EDEDE9;
  color: #D5BDAF;
  border: 2px solid #D5BDAF;
}

.button:hover {
  background-color: #EDEDE9;
  color: #D5BDAF;
  border: 2px solid #D5BDAF;
}

.card {
  background-color: #EDEDE9;
}

.card-img-top {
  height: 200px;
  width: 100%;
  object-fit: cover;
}