.btn{
    background-color: #D5BDAF;
}

.signupBtn{
    color: blue;
    outline: none;
    box-shadow: none;
}

.logo{
    width: 80%;
}
.form-main{
    max-width: 480px;
    margin: auto;
    padding: 10%;
}
.formlayout{
    background-color: #EDEDE9;
}

.fade-out{
    opacity: 0;
    transition: opacity 1s ease;
}

.fade-in{
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.fade-in.show {
    opacity: 1;
  }
