body {
    background-color: #D5BDAF;
}

h1{
    color: #D5BDAF;
}

.btn {
    background-color: #D5BDAF;   
    color: #EDEDE9;
    border: 2px solid #D5BDAF;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}
  
.btn:focus{
    outline: none;
    box-shadow: none;
}
  
.btn:hover {
    background-color: #EDEDE9;
    color: #D5BDAF;
    border: 2px solid #D5BDAF;
}

.textbtn{
    color: #D5BDAF;
    outline: none;
    box-shadow: none;
    background-color: transparent;
    cursor: pointer;
}

.logo{
    width: 80%;
}
.form-main{
    max-width: 500px;
    margin: auto;
    padding: 10%;
}

.form-control:focus{
    outline: none;
    box-shadow: none;
}

.formlayout{
    background-color: #EDEDE9;
    padding: auto;
}

.fade-out{
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-out.hide {
    opacity: 0;
  }

.fade-in{
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.fade-in.show {
    opacity: 1;
  }
